<!-- <h2>{{nombre |uppercase}}</h2>
<h2>{{nombre |lowercase}}</h2>
<button pButton label="Cambiar Nombre ..." 
        (click)="mostrarNombre()"
        class="p-button-warning"
        icon="pi pi-check" iconPos="right"></button>
<hr>
<h3>{{nombre |titlecase}}</h3>
<h3>{{valor |number}}</h3>
<h3>{{obj |json}}</h3>

<p-card>
  <ng-template pTemplate="header">
    Simple Card
  </ng-template>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!
  <ng-template pTemplate="footer">
     Footer content here
  </ng-template>
</p-card> -->

<!-- ahora si inicia el proyecto real -->

<app-menu></app-menu>
<router-outlet></router-outlet>
